/* START GENRAL */
body {
  font-family: 'Roboto Mono', monospace;
  margin:0;
  padding:0;
  height:100%;
}

.jumbotron {
  background-color: #ffed00;
}
/* END GENRAL */

/* START HOME */

.text-home {
  font-size: 430%;
}
.text-home-div {
  margin-top: 300px;
}
/* normal phones: */
@media screen and (min-height: 500px) and (max-height: 870px) {
  .text-home-div {
    margin-top: 75px;
  }
}

/* iphone 4 screen: */
@media screen and (max-height: 481px) {
  .text-home-div {
    margin-top: 0px;
  }
  .text-home {
    font-size: 375%;
  }
}


.color-dot-home {
  color: #ffed00;
}

.button-learn-down-text {
  position:absolute;
  bottom:0;
  height:90px;
}

.button-learn-down-svg {
    width: 55px;
    position:absolute;
    bottom:0;
    height:90px;
    margin-left: 56px;
    margin-top: 1%;
}
/* END HOME */
/* BEGIN LEARN MORE ABOUT ME */

.who-i {
  position:absolute;
  bottom:-100px;
  height:90px;
}

.header-who {
  background-color: #ffed00;
}

.text-who {
  font-size: 120%;
}


/* END LEARN MORE ABOUT ME */
